@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  
}

/* Common sm1, sm2 tablet */

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .section-08{
        display: flex;
        align-items: center;
        justify-content: center;
        .c-wrapper {
            display: flex;
            align-items: center;
            padding: 48px 191px;         
            img {
                object-fit: cover;
                height: 330px;
                width: 770px;
                position: absolute;
                left: 0px;
                right: 0px;
                top: 64px;
                bottom: 64px;
                background: #FCFAFF;
                border: 1px solid #D6BCFA;
                box-shadow: 0px 0px 20px rgba(128, 90, 213, 0.2), inset 0px 0px 50px #F8E0FA;
                border-radius: 50px;
            }
            .block{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 60px;
                
                h1{
                    
                    
                    font-family: 'Syne';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 48px;
                    text-align: center;
                    color: #000000;
                }
                p{
                    
                   
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    color: #532C59;
                    margin-top: 16px;
                }
                button{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 156px;
                    height: 44px;
                    background: #532C59;
                    border-radius: 15px;
                    margin-top: 24px;
                    p{
                       
                        font-family: 'Syne';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }
            }
    }   }
}

@media all and (min-width: #{$mq-md + "px"}) {
    .section-08{
        padding: 60px 0px;
        .c-wrapper {
            padding: 200px 295px;
            img {
                position: absolute;
                width: 1300px;
                height: 446px;
                left: calc(50% - 1300px/2);
                top: 59px;
                background: #FCFAFF;
                border: 1px solid #D6BCFA;
                box-shadow: 0px 0px 20px rgba(128, 90, 213, 0.2), inset 0px 0px 50px #F8E0FA;
                border-radius: 60px;
            }
            .block{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 710px;
                h1{
                    width: 710px;
                    height: 64px;
                    font-family: 'Syne';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 64px;
                    text-align: center;
                    color: #000000;
                }
                p{
                    width: 710px;
                    height: 48px;
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    color: #532C59;
                    margin-top: 16px;
                }
                button{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 156px;
                    height: 52px;
                    background: #532C59;
                    border-radius: 15px;
                    margin-top: 32px;
                    p{
                        width: 116px;
                        font-family: 'Syne';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                    }
                }
            }
    }   }
}


