@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .section-06{
        margin-top: 80px;
        .c-wrapper{
           .twitter{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 8px;
                margin-top: 32px;
                
                .card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 24px;
                    background: #FFFFFF;
                    border: 1px solid #D6BCFA;
                    border-radius: 10px;
                    .container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                        .profile{
                            display: flex;
                            align-items: flex-start;
                            gap: 16px;
                            
                            .profile-content{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                h5{
 
                                    font-family: 'Space Grotesk';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                }
                                p{
                                   
                                    
                                    font-family: 'Space Grotesk';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #000000;
                                    opacity: 0.5;
                                }
                            }
                        
                        }
                        .text{

                            font-family: 'Space Grotesk';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 20px;
                            color: #532C59;
                        }
                    }
                }
            }&::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(252, 250, 255, 0) 0%, #FCFAFF 88.54%);
            } 
        
        }
    }
}

/* Common sm1, sm2 tablet */

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .section-06{
        margin-top: 80px;
        .c-wrapper{
           .twitter{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 32px;
                margin-top: 80px;
                .card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 24px;
                    
                    background: #FFFFFF;
                    border: 1px solid #D6BCFA;
                    border-radius: 10px;
                    .container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                        
                        
                        .profile{
                            display: flex;
                            align-items: flex-start;
                            gap: 16px;
                            
                            .profile-content{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                
                                
                                h5{
                                    
                                    
                                    font-family: 'Space Grotesk';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                }
                                p{
                                   
                                    
                                    font-family: 'Space Grotesk';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #000000;
                                    opacity: 0.5;
                                }
                            }
                        
                        }
                        .text{
                            
                            
                            font-family: 'Space Grotesk';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 20px;
                            color: #532C59;
                        }
                    }
                }
            }&::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(252, 250, 255, 0) 0%, #FCFAFF 88.54%);
            } 
        
        }
    }
}

@media all and (min-width: #{$mq-md + "px"}) {
    .section-06{
        margin-top: 200px;
        .c-wrapper{
           .twitter{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 32px;
                margin-top: 80px;
                .card{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 24px;
                    width: 412px;
                    background: #FFFFFF;
                    border: 1px solid #D6BCFA;
                    border-radius: 10px;
                    .container{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 16px;
                        width: 364px;
                        
                        .profile{
                            display: flex;
                            align-items: flex-start;
                            gap: 16px;
                            width: 364px;
                            .profile-content{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                width: 308px;
                                
                                h5{
                                    width: 308px;
                                    
                                    font-family: 'Space Grotesk';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 20px;
                                    color: #000000;
                                }
                                p{
                                    width: 308px;
                                    
                                    font-family: 'Space Grotesk';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #000000;
                                    opacity: 0.5;
                                }
                            }
                        
                        }
                        .text{
                            width: 364px;
                            height: 96px;
                            font-family: 'Space Grotesk';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #532C59;
                        }
                    }
                }
            }&::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(252, 250, 255, 0) 0%, #FCFAFF 88.54%);
            } 
        
        }
    }
}


