@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 */

@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .section-02{
   
    display: flex;
    align-items: center;
    justify-content: center;
      .c-wrapper{   
            
          .logo{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          margin-top: 20px;
          
          a{
            padding-top: 15px;
            svg{
              width: 85px;
            }
          }
        }
      }
  }
}

/* Common sm1, sm2 tablet */

@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .section-02{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
      .c-wrapper{
        
          .logo{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          align-items: center;
          justify-content: space-between;
          margin-left: 30px;
          a{
            margin: 10px;
          }
        }
      }
  }
}

@media all and (min-width: #{$mq-md + "px"}) {
  .section-02{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
      .c-wrapper{
        height: 40px;
        .logo{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
        }
      }
  }
}


