*,
*::before,
*::after {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  outline: 0;
  text-rendering: optimizeLegibility;
}

blockquote {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main,
header,
aside,
img {
  display: block;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox],
input[type=radio] {
  position: absolute;
  z-index: -100;
  opacity: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield !important;
  /* Firefox */
}

hr {
  height: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #F0F0F0;
}

.center {
  text-align: center;
}

.c-wrapper {
  margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: 767px) {
  .c-wrapper {
    width: calc(100% - 32px);
  }
}
/* Common sm1, sm2 tablet */
@media all and (min-width: 768px) and (max-width: 1319px) {
  .c-wrapper {
    width: 760px;
  }
}
@media all and (min-width: 1320px) {
  .c-wrapper {
    width: 1300px;
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .section-01 {
    width: 100%;
    height: 574px;
    overflow: hidden;
  }
  .section-01 .picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .section-01 .picture .bg-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-01 .c-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-01 .c-wrapper .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 856px;
    height: 356px;
    left: calc(50% - 428px);
    top: 80px;
  }
  .section-01 .c-wrapper .content .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 856px;
    height: 272px;
  }
  .section-01 .c-wrapper .content .text > h1 {
    width: 856px;
    height: 192px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
  }
  .section-01 .c-wrapper .content .text .paraf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 48px;
    gap: 10px;
    width: 856px;
    height: 48px;
  }
  .section-01 .c-wrapper .content .text .paraf > p {
    width: 760px;
    height: 48px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
  }
  .section-01 .c-wrapper .content > button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
  }
  .section-01 .c-wrapper .content > button > span {
    width: 74px;
    height: 20px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  .section-01::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .section-02 {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-02 .c-wrapper {
    height: 40px;
  }
  .section-02 .c-wrapper .logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .section-03 {
    height: 2032px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .section-03 .c-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1922px;
  }
  .section-03 .c-wrapper .line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 100%;
    margin-top: 64px;
  }
  .section-03 .c-wrapper .line .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 412px;
    height: 506px;
    margin-top: 64px;
  }
  .section-03 .c-wrapper .line .card img {
    border: 1px solid #000000;
    box-shadow: -15px 15px 0px rgba(17, 17, 17, 0.5);
    border-radius: 30px;
  }
  .section-03 .c-wrapper .line .card .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 412px;
    height: 94px;
    margin-top: 16px;
  }
  .section-03 .c-wrapper .line .card .text > h3 {
    width: 412px;
    height: 42px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #000000;
  }
  .section-03 .c-wrapper .line .card .text > p {
    width: 412px;
    height: 40px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
    margin-top: 12px;
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .section-04 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .section-05 {
    margin-top: 140px;
  }
  .section-05 .team {
    margin-top: 60px;
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
@media all and (min-width: 1320px) {
  .section-06 {
    margin-top: 200px;
  }
  .section-06 .c-wrapper .twitter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-top: 80px;
  }
  .section-06 .c-wrapper .twitter .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    width: 412px;
    background: #FFFFFF;
    border: 1px solid #D6BCFA;
    border-radius: 10px;
  }
  .section-06 .c-wrapper .twitter .card .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 364px;
  }
  .section-06 .c-wrapper .twitter .card .container .profile {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 364px;
  }
  .section-06 .c-wrapper .twitter .card .container .profile .profile-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 308px;
  }
  .section-06 .c-wrapper .twitter .card .container .profile .profile-content h5 {
    width: 308px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .section-06 .c-wrapper .twitter .card .container .profile .profile-content p {
    width: 308px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
  }
  .section-06 .c-wrapper .twitter .card .container .text {
    width: 364px;
    height: 96px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
  }
  .section-06 .c-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(252, 250, 255, 0) 0%, #FCFAFF 88.54%);
  }
}
/* Common xs1, xs2 */
/* Common sm1, sm2 tablet */
/* Common xs1, xs2 mobil*/
/* Common sm1, sm2 tablet */
/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: 1320px) {
  .header-01 {
    height: 76px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    display: flex;
    align-items: center;
  }
  .header-01 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-01 .navbar .item-01 {
    display: flex;
    justify-content: space-between;
  }
  .header-01 .navbar .item-01 > li:not(:last-child) {
    margin-right: 16px;
  }
  .header-01 .navbar .item-01 > li > a {
    display: flex;
    align-items: center;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.25s;
  }
  .header-01 .navbar .item-01 > li > a:hover {
    opacity: 1;
  }
}
/* Common xs1, xs2 mobil*/
/* Common sm1, sm2 tablet */
/* Common  md, lg, xl, xxl desktop*/
/* Common xs1, xs2 */ /* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .Cards-02 {
    background: #FFFFFF;
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 13px;
  }
  .Cards-02 .f-unit {
    display: flex;
    margin-bottom: 12px;
  }
  .Cards-02 .f-unit img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 5px;
  }
  .Cards-02 .f-unit .f-unit-01 .f-unit-01-A {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .Cards-02 .f-unit .f-unit-01 .f-unit-01-B {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
  }
  .Cards-02 .f-unit-02 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
  }
}
@media all and (min-width: 768px) and (max-width: 1319px) {
  .Cards-02 {
    background: #FFFFFF;
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    padding: 12px;
  }
  .Cards-02 .f-unit {
    display: flex;
    margin-bottom: 12px;
  }
  .Cards-02 .f-unit img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 5px;
  }
  .Cards-02 .f-unit .f-unit-01 .f-unit-01-A {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .Cards-02 .f-unit .f-unit-01 .f-unit-01-B {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
  }
  .Cards-02 .f-unit-02 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
  }
}
@media all and (min-width: 1320px) {
  .Cards-02 {
    background: #FFFFFF;
    border: 1px solid #D6BCFA;
    border-radius: 10px;
    padding: 12px;
  }
  .Cards-02 .f-unit {
    display: flex;
    margin-bottom: 12px;
  }
  .Cards-02 .f-unit img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 5px;
  }
  .Cards-02 .f-unit .f-unit-01 .f-unit-01-A {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  .Cards-02 .f-unit .f-unit-01 .f-unit-01-B {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
  }
  .Cards-02 .f-unit-02 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
  }
}
/* Common xs1, xs2 */
@media all and (min-width: 1320px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content h1 {
    width: 1300px;
    height: 64px;
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
  }
  .content p {
    width: 820px;
    height: 48px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin-top: 24px;
  }
}
/* Common xs1, xs2 */
@media all and (min-width: 1320px) {
  .team {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .team .team-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 301px;
  }
  .team .team-person h3 {
    width: 301px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #000000;
  }
  .team .team-person p {
    width: 269px;
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
  }
}
/* Common xs1, xs2 */
@media all and (max-width: 767px) {
  .Micro-Other-03 {
    padding: 24px;
    border: 1px solid #D6BCFA;
    border-radius: 15px;
  }
  .Micro-Other-03 .c-unit-02 {
    display: flex;
  }
  .Micro-Other-03 .c-unit-02 .c-unit {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
  }
  .Micro-Other-03 .c-unit-02 > a > svg {
    transition: transform 0.3s;
  }
  .Micro-Other-03 .c-unit-01 {
    margin-top: 10px;
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
  }
  .Micro-Other-03.on a svg {
    transform: rotate(180deg);
  }
  .Micro-Other-03.on .c-unit-01 {
    display: block;
  }
  .Micro-Other-03:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media all and (min-width: 768px) and (max-width: 1319px) {
  .Micro-Other-03 {
    padding: 24px;
    border: 1px solid #D6BCFA;
    border-radius: 15px;
  }
  .Micro-Other-03 .c-unit-02 {
    display: flex;
  }
  .Micro-Other-03 .c-unit-02 .c-unit {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
  }
  .Micro-Other-03 .c-unit-02 > a > svg {
    transition: transform 0.3s;
  }
  .Micro-Other-03 .c-unit-01 {
    margin-top: 10px;
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
  }
  .Micro-Other-03.on a svg {
    transform: rotate(180deg);
  }
  .Micro-Other-03.on .c-unit-01 {
    display: block;
  }
  .Micro-Other-03:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media all and (min-width: 1320px) {
  .Micro-Other-03 {
    padding: 24px;
    border: 1px solid #D6BCFA;
    border-radius: 15px;
  }
  .Micro-Other-03 .c-unit-02 {
    display: flex;
  }
  .Micro-Other-03 .c-unit-02 .c-unit {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    opacity: 0.8;
  }
  .Micro-Other-03 .c-unit-02 > a > svg {
    transition: transform 0.3s;
  }
  .Micro-Other-03 .c-unit-01 {
    margin-top: 10px;
    display: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
  }
  .Micro-Other-03.on a svg {
    transform: rotate(180deg);
  }
  .Micro-Other-03.on .c-unit-01 {
    display: block;
  }
}
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Syne";
  src: url("./Fonts/Syne-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Syne";
  font-size: 100%;
  background: #FCFAFF;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=Base.css.map */